html {
    scroll-behavior:smooth ;
}



/* Style for the floating button */
#scrollToTopBtn {
    position: fixed;
    font-size: 10px;
    bottom: 20px;
    right: 20px;
    width: 65px;
    height: 65px;
    background-color:#f6ee5700 ; /* Button color */
    color: rgb(255, 255, 255);
    border: white solid 1px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 3px 5px rgba(2, 2, 2, 0.521);
    font-size: 24px;
    align-items: center;
    justify-content: center;
    mix-blend-mode: difference;
}

/* Show the button when scrolling down 100px */
.show {
    display: flex;
}

.material-symbols-outlined {
    font-size: 40px;
    font-weight: 1000;
    text-shadow: white 2px 0px 1px;
}




/* mouse scroll down */ 
.mouse-scroll {
    z-index: 5;
    margin-top: 130px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.mouse-scroll2 {
    margin-top: -80px ;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.mouse-scroll3 {
    margin-top: -20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.mouse {
    z-index: 5;
    width: 29px;
    height: 45px;
    border: 2px solid #ffffff33; /* White border */
    border-radius: 12px;
    position: relative;
    cursor: pointer;
}

.wheel {
    width: 5px;
    height: 9px;
    background: #ffffff33; /* White wheel */
    border-radius: 4px;
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    animation: scroll-up 1.5s infinite; /* Looping animation */
}

/* Keyframe animation for the wheel moving up */
@keyframes scroll-up {
    0% {
        bottom: 8px;
        opacity: 1;
    }
    50% {
        bottom: 20px;
        opacity: 0.5;
    }
    100% {
        bottom: 32px;
        opacity: 0;
    }
}

